body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

.darker {
	background-color: #333;
}

.darker > main > section > div > h1 {
	color: #fff;
}
.darker > main > section > div > div > button {
	color: #333;
	background-color: #fff;
}

.container {
	width: 100%;
	max-width: 1240px;
	margin: 0 auto;
	padding: 0 20px;
}

.title {
	margin: 50px 0 100px 0;
	text-align: center;
	font-size: 48px;
	font-weight: 700;
}

.selects {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin-bottom: 50px;
}

select {
	padding: 8px;
	border-radius: 5px;
	width: 100%;
	max-width: 180px;
	margin-bottom: 10px;
}

.search-wrapper {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	padding: 8px;
	border: 1px solid #333;
	border-radius: 60px;
	background-color: #fff;
}

input {
	margin-left: 4px;
	outline: none;
	border: 0;
}

button {
	display: block;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 5px;
	border: 0;
	background-color: #333;
	color: #fff;
	cursor: pointer;
}

ul {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	list-style-type: none;
}

li {
	border: 1px solid;
	width: 100%;
	max-width: 300px;
	border-radius: 12px;
	background-color: #f2f2f2;
}

h2 {
	margin: 0;
	padding: 10px 0;
	font-size: 16px;
	border-bottom: 1px solid;
	text-align: center;
}

span {
	display: block;
	margin-left: 10px;
	margin-top: 6px;
	font-weight: 400;
}

a {
	display: block;
	margin: 6px 0 6px 10px;
}
